.github/**
.vscode/**
.secrets/**
.env*
benchmarks/**
buildplan.md
examples/**
images/icon-source.jpg
wiki/**
src/**
scripts/**
tests/**
**/*.map
.gitignore
.vscodeignore
esbuild.mjs
tsconfig.json
.prettierrc*
package-lock.json
